# Gradle
.gradle/
build/

# Local config (IMPORTANT)
local.properties

# Android Studio
.idea/
*.iml

# OS
.DS_Store

# Logs
*.log

# Native builds
.externalNativeBuild/
.cxx/

# Captures
captures/

# Signing keys (CRITICAL)
*.jks
*.keystore

# Firebase / API
google-services.json

# Env files
*.env